In [64]:
import pandas as pd
from datetime import date, timedelta
import io
import requests

In [65]:
def request_file(date):
    URL = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"
    try:
        req = requests.get(URL + date.strftime("%m-%d-%Y") + ".csv")
        print("Request status code:", req.status_code)
        error = False
        return req, error
    except:
        print("Error retrieving file from GitHub")
        error = True
        return req, error

In [66]:
req, error = request_file(date.today())

Request status code: 200

In [67]:
if req.status_code == 404:
    request_file(today - timedelta(days = 1))

In [79]:
df = pd.read_csv(io.StringIO(req.content.decode('utf-8')))
df.rename(columns={'Admin2': 'County', 'Province_State': 'State', 'Country_Region': 'Country', 
                   'Last_Update': 'Update', 'Long_': 'Long', 'Combined_Key': 'Key'}, inplace=True)
df.set_index('Key', inplace=True)
for column in ["County", "State"]: 
    df[column] = df[column].str.replace(' ','-')
    df[column] = df[column].str.lower()
df = df[df["Country"] == "US"]

In [83]:
df.head()

,FIPS,County,State,Country,Update,Lat,Long,Confirmed,Deaths,Recovered,Active
Key,,,,,,,,,,,
"Abbeville, South Carolina, US",45001.0,abbeville,south-carolina,US,2020-04-04 23:34:21,34.223334,-82.461707,6,0,0,0
"Acadia, Louisiana, US",22001.0,acadia,louisiana,US,2020-04-04 23:34:21,30.295065,-92.414197,65,2,0,0
"Accomack, Virginia, US",51001.0,accomack,virginia,US,2020-04-04 23:34:21,37.767072,-75.632346,8,0,0,0
"Ada, Idaho, US",16001.0,ada,idaho,US,2020-04-04 23:34:21,43.452658,-116.241552,360,3,0,0
"Adair, Iowa, US",19001.0,adair,iowa,US,2020-04-04 23:34:21,41.330756,-94.471059,1,0,0,0

In [84]:
# df[df.duplicated(['County'])]
# County is not unique, need combination of state and county

In [85]:
df['Confirmed'].sum()

308850

In [96]:
df[(df["State"] == "new-york")][["Confirmed", "Deaths", "Recovered", "Active"]]

                             Confirmed  Deaths  Recovered  Active
Key
Albany, New York, US               293       6          0       0
Allegany, New York, US              16       1          0       0
Broome, New York, US                65       4          0       0
Cattaraugus, New York, US            9       0          0       0
Cayuga, New York, US                 7       0          0       0
Chautauqua, New York, US            10       1          0       0
Chemung, New York, US               36       0          0       0
Chenango, New York, US              39       0          0       0
Clinton, New York, US               31       0          0       0
Columbia, New York, US              57       2          0       0
Cortland, New York, US              14       0          0       0
Delaware, New York, US              26       1          0       0
Dutchess, New York, US             938       5          0       0
Erie, New York, US                 808      22          0       0
Essex, New York, US                  7       0          0       0
Franklin, New York, US              10       0          0       0
Fulton, New York, US                 9       0          0       0
Genesee, New York, US               20       1          0       0
Greene, New York, US                24       0          0       0
Hamilton, New York, US               2       0          0       0
Herkimer, New York, US              18       3          0       0
Jefferson, New York, US             20       0          0       0
Lewis, New York, US                  2       0          0       0
Livingston, New York, US            18       1          0       0
Madison, New York, US               78       2          0       0
Monroe, New York, US               512      14          0       0
Montgomery, New York, US            13       0          0       0
Nassau, New York, US             13346      95          0       0
New York City, New York, US      63306    1905          0       0
Niagara, New York, US              101       0          0       0
Oneida, New York, US                80       1          0       0
Onondaga, New York, US             349       4          0       0
Ontario, New York, US               31       0          0       0
Orange, New York, US              2741      40          0       0
Orleans, New York, US               10       0          0       0
Oswego, New York, US                28       0          0       0
Otsego, New York, US                26       1          0       0
Putnam, New York, US               283       7          0       0
Rensselaer, New York, US            67       0          0       0
Rockland, New York, US            4872      69          0       0
Saratoga, New York, US             141       1          0       0
Schenectady, New York, US          117       5          0       0
Schoharie, New York, US             11       0          0       0
Schuyler, New York, US               4       0          0       0
Seneca, New York, US                 6       0          0       0
St. Lawrence, New York, US          52       0          0       0
Steuben, New York, US               60       0          0       0
Suffolk, New York, US            11370     124          0       0
Sullivan, New York, US             193       5          0       0
Tioga, New York, US                  8       0          0       0
Tompkins, New York, US              93       0          0       0
Ulster, New York, US               290       4          0       0
Unassigned, New York, US             0    1173          0       0
Warren, New York, US                20       0          0       0
Washington, New York, US            16       0          0       0
Wayne, New York, US                 30       0          0       0
Westchester, New York, US        13081      67          0       0
Wyoming, New York, US               18       1          0       0
Yates, New York, US                  1       0          0       0

In [86]:
query_state = "california"
query_county = "alameda"

In [87]:
query = df[(df["State"] == query_state) & (df["County"] == query_county)][["Confirmed", "Deaths", "Recovered", "Active"]]

In [92]:
query = query.to_dict(orient = "records")

In [93]:
query[0].update({"last_updated": "XXX"})

In [94]:
query

[{'Confirmed': 443,
  'Deaths': 12,
  'Recovered': 0,
  'Active': 0,
  'last_updated': 'XXX'}]